<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AFragmenter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<script src="{{ url_for('static', filename='script.js') }}"></script>
<script src="{{ url_for('static', filename='sliderControl.js') }}"></script>
<script src="https://3Dmol.org/build/3Dmol-min.js"></script>     
<script src="https://3Dmol.org/build/3Dmol.ui-min.js"></script>   

<body>
    <nav>
        <div class="home-info">
            <a href="/" class="home-link home-title" >AFragmenter</a>
            <p class="home-description">Flexible and schema free AlphaFold protein structure partitioning</p>
        </div>
        <div class="nav-links">
            <a class="nav-text-link" href="documentation.html">Documentation</a>
            <a class="nav-text-link" href="https://www.kuleuven.be/wieiswie/en/person/ue715683" target="_blank">Contact</a>
            <a href="https://github.com/sverwimp/AFragmenter" target="_blank">
                <img src="{{ url_for('static', filename='images/github.svg') }}" alt="GitHub" class="nav-icon" id="github-logo">
            </a>
            <a href="https://pypi.org/project/AFragmenter/" target="_blank">
                <img src="{{ url_for('static', filename='images/pypi.svg') }}" alt="PyPI" class="nav-icon" id="pypi-logo">
            </a>
            <a href="conda" target="_blank">
                <img src="{{ url_for('static', filename='images/conda.svg') }}" alt="Conda" class="nav-icon" id="conda-logo">
            </a>
        </div>
    </nav>

    <main> 
        <form id="main-form" name="main-form" action="{{ url_for('process') }}" method="post" role="form" enctype="multipart/form-data">
        <!--<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />-->
        {{ form.csrf_token }}
            <div class="main-left">
                <div class="input">
                    <div class="input-type">
                        <label for="{{ form.input_type.id }}-radio-afdb">
                            <input type="radio" class="radio-afdb" id="{{ form.input_type.id }}-radio-afdb" name="{{ form.input_type.name }}" value="afdb" checked>
                            <span>AFDB</span>
                        </label>
                        <label for="{{ form.input_type.id }}-radio-affiles">
                            <input type="radio" class="radio-affiles" id="{{ form.input_type.id }}-radio-affiles" name="{{ form.input_type.name }}" value="affiles">
                            <span>File upload</span>
                        </label>
                        <span class="selection"></span>
                    </div>
                    <div class="input-data">
                        <div id="div-afdb">
                            
                            <input type="text" id="afdb-input" class="uniprot-form" name="{{ form.uniprot_id.name }}" placeholder="UniProt ID">
                            <button id="uniprotSearch" class="btn" type="button">Search</button>
                        </div>
                        <div class="div-affiles" id="div-affiles">
                            <div>
                                <label for="{{ form.alphafold_json.id }}" class="input-label json-label">AlphaFold json</label>
                                <input type="file" id="{{ form.alphafold_json.id }}" class="upload-input json-file-upload" name="{{ form.alphafold_json.name }}">
                            </div>
                            <div>
                                <label for="{{ form.structure_file.id }}" class="input-label " >Structure file (PDB or cif) [optional]</label>
                                <input type="file" id="{{ form.structure_file.id }}" class="upload-input structure-file-upload" name="{{ form.structure_file.name }}">
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="options">
                    <p class="options-title">Options</p>
                    <div class="options-wrapper">
                        <div class="pae-threshold-wrapper">
                            <div class="range-text-wrapper">
                                <label class="range-label" for="pae-threshold">PAE contrast threshold</label>
                                <input type="number" class="range-value pae-threshold-value" dir="rtl"  min="0" max="32" step="1" id="{{ form.pae_threshold.id }}" name="{{ form.pae_threshold.name }}" value="{{ form.pae_threshold.data }}">
                                <!--<p class="range-value pae-threshold-value">5</p>-->
                            </div>
                            <input type="range" class="options-range pae-threshold-range" id="pae-threshold" list="threshold-list" min="0" max="32" value="5" step="1">
                            <datalist id="threshold-list">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>
                                <option>13</option>
                                <option>14</option>
                                <option>15</option>
                                <option>16</option>
                                <option>17</option>
                                <option>18</option>
                                <option>19</option>
                                <option>20</option>
                                <option>21</option>
                                <option>22</option>
                                <option>23</option>
                                <option>24</option>
                                <option>25</option>
                                <option>26</option>
                                <option>27</option>
                                <option>28</option>
                                <option>29</option>
                                <option>30</option>
                                <option>31</option>
                                <option>32</option>
                            </datalist>
                        </div>

                        <div class="resolution-wrapper">
                            <div class="range-text-wrapper">
                                <label class="range-label" for="resolution-range">Resolution</label>
                                <input type="number" class="range-value resolution-value" dir="rtl" min="0" max="1.5" step="0.1" id="{{ form.resolution.id }}" name="{{ form.resolution.name }}" value="{{ form.resolution.data }}">
                                <!--<span class="range-value resolution-value">0.8</span>-->
                            </div>
                            <input type="range" class="options-range resolution-range" id="resolution-range" list="resolution-list" min="0" max="1.5" value="0.8" step="0.1">
                            <datalist id="resolution-list">
                                <option>0</option>
                                <option>0.1</option>
                                <option>0.2</option>
                                <option>0.3</option>
                                <option>0.4</option>
                                <option>0.5</option>
                                <option>0.6</option>
                                <option>0.7</option>
                                <option>0.8</option>
                                <option>0.9</option>
                                <option>1.0</option>
                                <option>1.1</option>
                                <option>1.2</option>
                                <option>1.3</option>
                                <option>1.4</option>
                                <option>1.5</option>
                            </datalist>
                            
                        </div>

                        <details>
                        <summary>More options</summary>
                        <div class="more-options options-wrapper">
                            <div class="min-size-wrapper">
                                <label for="minsize-input">Minimum size parition:</label>
                                <input class="options-number" type="number" id="minsize-input" min="0" max="10000" name="{{ form.min_size.name }}" value="{{ form.min_size.data }}">
                            </div>

                            <div class="merge-wrapper">
                                <label class="toggle-label">
                                    <span class="checkbox-text">Merge small partitions</span>
                                    <div class="toggle-container">
                                        <input type="checkbox" name="{{ form.merge.name }}" id="{{ form.merge.id }}" class="checkbox_inp" checked>
                                        <span class="slider"></span>
                                    </div>
                                </label>
                            </div>

                            <div class="objective-function-wrapper">
                                <span>Objective function:</span>
                                <select name="{{ form.objective_function.name }}" id="{{ form.objective_function.id }}">
                                    <option value="modularity">Modularity</option>
                                    <option value="cpm">Constant Potts Model</option>

                                </select>
                            </div>

                            
                            <div class="iterations-wrapper">
                                <label for="{{ form.iterations.id }}" class="iterations-label">Iterations:</label>
                                <input class="options-number" type="number" id="{{ form.iterations.id }}" name="{{ form.iterations.name }}" min="1" max="1000000" value="{{ form.iterations.data }}">
                            </div>
                        </div>
                        </details>
                        
                        
                    </div>

                </div>
                <br>
                <div class="form-submit">
                    <!--{{ form.submit(class="submit-button btn", onclick="return validateForm();") }}-->
                     {{ form.submit(class="submit-button btn") }}
                </div>
            </div>
        </form>

        <div class="main-right">

            <div class="results-wrapper">
                <!--Table with results here-->
                <div class="table-results-div">
                    <!--Put empty table with header row here as placekeeper for users-->
                    <table>
                        <thead>
                            <th>Partition</th>
                            <th>Number of residues</th>
                            <th>Chopping</th>
                        </thead>
                        <tbody id="result-table-body">

                        </tbody>

                    </table>
                </div>
            </div>

            <div class="visual-results-wrapper">
                <div class="3dmoltest" style="display: flex; justify-content: space-around;">
                    <!--
                    <div style="height: 40vh; width: 60vh; position: relative;" class='viewer_3Dmoljs' data-backgroundcolor='#FCFDFD' data-style='cartoon' data-ui='false'></div>
                    -->
                    <div id="viewer3Dmol" style="height: 40vh; width: 60vh; position: relative;"></div>
    
                </div>

                <div class="pae-figure">
                    <img style="width: 300px; height: 300px;" src="{{ url_for('static', filename='images/pypi.svg') }}" alt="">
                </div>


            </div>


            

        </div>
    </main>


    
</body>

</html>