
:root {
    --gunmetal: #31393C;
    --hover-gunmetal: #5c676b;
    --whitebackground: #FCFDFD;
    --blue: #2176FF;
    --lightblue: #33A1FD;
    --yellow: #FDCA40;
    --orange: #F79824;
}

html {
    font-size: 12pt;
    font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/* Navigation bar */

nav {
    height: 60px;
    background-color: var(--gunmetal);
    display: flex;
    justify-content: space-between;
    color: var(--whitebackground);
    padding: 5px 30px;
}

nav a {
    color: var(--whitebackground);
}

.home-info {
    display: flex;
    gap: 30px;
    align-items: baseline;
}
.home-title {
    font-size: 1.7rem;
    font-weight: bold;
    align-items: center;
}
@media(max-width: 1100px) {
    .home-description {
        display: none;
    }
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-text-link {
    padding: 15px;
    margin: -15px;
}
.nav-text-link:hover {
    background-color: var(--hover-gunmetal);
    border-radius: 5px;
}

.nav-icon {
    width: 2rem;
    height: 40px;
}

/* Main content */

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 50px 60px 20px 60px;
    /*padding: 60px;*/
}

/* Main content - left = inputs */
.main-left {
    flex: 1;
    padding: 20px;
    /*background-color: #F79824;*/
    border: 4px solid var(--gunmetal);
    border-radius: 16px;
    max-width: 350px;
}
/* Main content - right = results */
.main-right {
    flex: 3;
    min-width: 300px;
    padding: 20px;
    background-color: #33A1FD;
}

/*https://uiverse.io/Ghost-aft/cowardly-walrus-30*/

.input {
    min-height: 11rem;
}

.input-type input {
    display: none;
}

.input-type {
    --container_width: 300px;
    position: relative;
    display: flex;
    align-items: center;
    outline: 4px solid var(--gunmetal);
    outline-offset: -1px; /*Fixes some weird fringing around the corners*/
    border-radius: 8px;
    background-color: var(--whitebackground);
    color: var(--gunmetal);
    width: var(--container_width);
    overflow: hidden;
}

.input-type label {
    width: 100%;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    font-weight: 800;
    font-size: 14px;
}

.selection {
    display: none;
    position: absolute;
    height: 100%;
    width: calc(var(--container_width) / 2);
    z-index: 0;
    left: 0;
    top: 0;
    transition: 0.15s ease;
}

.input-type label:has(input:checked) {
    color: #fff;
}

.input-type label:has(input:checked) ~ .selection {
    background-color: var(--gunmetal);
    display: inline-block;
}

.input-type label:nth-child(1):has(input:checked) ~ .selection {
    transform: translateX(calc(var(--container_width) * 0 / 2));
}

.input-type label:nth-child(2):has(input:checked) ~ .selection {
    transform: translateX(calc(var(--container_width) * 1 / 2));
}

.input-data {
    display: flex;
    margin: 24px 8px 0px 8px;
    width: 100%;
}

/* Define transition for input fields */
.input-transition {
    transition: opacity 0.25s ease, transform 0.25s ease;
    opacity: 0;
    transform: translateY(-20px);
    visibility: hidden; /* Use visibility instead of display */
    position: absolute;  /* Prevent overlap */
    width: 0;
}

/* Define visible state for input fields */
.input-visible {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
    position: relative;
    width: 100%;
}

.div-afdb {
    position: relative;
    padding: 15px 0 0;
}

.uniprot-form {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid var(--hover-gunmetal);
    outline: 0;
    font-size: 1.2rem;
    color: var(--hover-gunmetal);
    padding: 7px 0;
    /*background: transparent;*/
    background: var(--whitebackground);
    transition: border-color 0.2s;
}


/* https://codepen.io/lucasyem/pen/ZEEYKdj */
.uniprot-form::placeholder {
    color: transparent;
}
.uniprot-form:placeholder-shown ~ .afdb_label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
}

.afdb_label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #9b9b9b;
}

.uniprot-form:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    /* border-image: linear-gradient(to right, var(--blue), #e8f5ff); */
    border-color: var(--blue);
    border-image-slice: 1;
}
.uniprot-form:focus ~ .afdb_label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: var(--blue);
    font-weight: 700;
}

/* reset input */
.uniprot-form:required, .uniprot-form:invalid {
    box-shadow: none;
}




.div-affiles {
    display: flex;
    flex-direction: column;
    gap: 16px;
}




.btn {
    display: inline-bloc;
    text-align: center;
    border: 1px solid grey;
    padding: .375rem .75rem;
    border-radius: .25rem;
    margin-left: 5px;
    background-color: var(--blue);
    color: var(--whitebackground);
}
.btn:hover {
    background-color: var(--lightblue);
}




/* TODO: */
/* https://www.viget.com/articles/styling-native-file-upload-input-field/ */
.upload-input {
    display: block; 
    border-radius: 0.5rem; 
    border-width: 1px; 
    border-color: #D1D5DB; 
    width: 100%; 
    font-size: 0.875rem;
    line-height: 1.25rem; 
    color: #111827; 
    background-color: #F9FAFB; 
    cursor: pointer; 
}
.upload-input::placeholder {
    color: #6b7280;
}

/*
.upload-input {
    display: block;
    width: 100%;
    font-size: 0.875rem;
    color: #1f2937; 
    border: 1px solid #d1d5db; 
    cursor: pointer;
    background-color: #f9fafb; 
    outline: none;
}
*/

.options {
    padding: 10px;
    max-width: 300px;
}

.options-title {
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 20px;
    text-decoration: underline;
}

.options-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    gap: 1rem;
}

.pae-threshold-wrapper {
    display: flex;
    flex-direction: column;

}

.range-text-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.options-range {
    width: 100%;
}


.toggle-label {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}


.merge-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 24px;
}

.merge-wrapper input {
    display: none;
}

.toggle-container {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--gunmetal);
    transition: 0.25s;
    border-radius: 24px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: #FFF;
    transition: 0.25s;
    border-radius: 50%;
}

.checkbox_inp:checked + .slider {
    background-color: var(--blue);
    /*background-color: #060;*/
}

.checkbox_inp:checked + .slider:before {
    transform: translateX(26px);
}

.range-value {
    width: 50px; 
    border: none; 
    font-size: 1rem;
}




/* Hide arrows in Firefox by default */
input[type="number"] {
    appearance: textfield; 
}

/* Show arrows on hover in Firefox */
input[type="number"]:hover {
    appearance: auto; 
}



.table-results-div {
    min-height: 40vh;
}


.visual-results-wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.options-number {
    font-size: 0.9rem;
}


summary {
    padding-bottom: 0.9rem;
}

.more-options {
    font-size: 0.9rem;
    margin-left: 12px;
}





.documentation-main {
    display: flex;
    width: 100%;
    justify-content: center;
}

.toc {
    width: 250px;
    flex-shrink: 0;
    padding: 20px;
    background: #f4f4f4;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    height: fit-content;
    position: sticky;
    top: 20px;
    align-self: flex-start;
}

.toc ul {
    list-style-type: none;
    padding-left: 0;
}

.toc ul ul {
    padding-left: 20px;
    list-style-type: disc;
}

.documentation-content {
    min-width: 600px;
    max-width: 60vw;
    width: 100%;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    margin-left: 20px;
    margin-right: 10vw;
}

.documentation-content img {
    max-width: 20%;
} 

/*
.documentation-padding-right {
    min-width: 10vw;
}
*/

.navbar-collapse {
    z-index: 1050;
    position: relative;
    transition: all 0.3s ease;
    background-color: #212529;
    padding-left: 1rem;
    border-radius: 0 0 0.5rem 0.5rem;
}

.navbar-dark .navbar-toggler {
    border-color: rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.1);
}

@media (max-width: 991.98px) {
    .navbar-collapse {
        width: 100%;
    }

    body {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}